.chat-box {
	$parent: &;
	background: #fff;
	height: 100%;
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	flex-direction: column-reverse;
	align-items: flex-start;
	padding: 15px;
	overflow: scroll;

	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__message {
		margin-bottom: 5px;
		&-sended {
			text-align: right;
			#{$parent}__message-container {
				background: #f13636;
			}

			#{$parent}__time {
				text-align: right;
			}
		}

		&-recieved {
			#{$parent}__message-container {
				background: #333;
			}
		}
	}

	&__message-container {
		color: #fff;
		display: inline-block;
		height: auto;
		max-width: 60%;
		padding: 10px 15px;
		border-radius: 10px;
		margin: 5px 0;

		p {
			word-break: break-word;
		}

		img {
			margin-top: 5px;
			border-radius: 2px;
		}
	}

	&__message-file {
		display: block;
		padding: 15px 30px 15px 15px;
		margin-top: 10px;
		background: #fff;
		color: black;
		border-radius: 5px;
	}

	&__time {
		color: #949494;
	}
}
